/* Based on http://www.colourlovers.com/palette/1597233/500_honies */

html {
    box-sizing: border-box;
}

.c-bkgd-1 {
    background-color: #EEE;
}

.c-bkgd-2 {
    background-color: #DDD;
}

.font-header {
    color: #111;
    font-family: 'Bungee Inline', cursive;
    text-shadow: 1px 1px rgba(66, 40, 29, .75);
    
}

.font-lead {
    color: #111;
    font-family: 'Bungee', cursive;
    text-shadow: 1px 1px rgba(66, 40, 29, .40);
}

.font-body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /*text-shadow: 1px 1px rgba(66, 40, 29, .40);*/
}

.btn-primary {
    background-color: #CCC;
    border-color: #222;
    color: #111;
    font-family: 'Bungee', cursive;
}

.map-sizing {
    width: 100%;
}

/* --- Table Styling --- */

#pastry_menu {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-spacing: 0.5rem;
}

#pastry_menu tr{
    text-align: left;
    border: 1px solid #999;
}

#pastry_menu td{
    border: 1px solid #999;
}

#pastry_menu td:first-of-type {
    width: 75%;
}

#pastry_menu td:last-of-type {
    width: 25%;
}

.table_header {
    background-color: #926;
}

.table_section {
    color: #111;
    font-weight: bold;
}

.table_toggle {
    color: #333;
    font-weight: lighter;
}